* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow: overlay;
    background-image: linear-gradient(to right top, #193559, #1f3258, #262e56, #2c2a54, #322651, #3c2451, #452151, #4f1e4f, #5f1b4e, #6f174b, #7d1345, #89123d);
    background-attachment: fixed;
}

body::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background: rgba(202, 202, 202, 0);
    /* background: rgba(202, 202, 202, 0.2); */

}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    /* -webkit-box-shadow: 0 0 .2rem #fff; */
    background-color: rgb(255, 246, 239);
    background-color: #dbfefe;
}

.container {
    /* padding-bottom: 200px; */
    min-height: 70vh;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#nav>div{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgba(111,23,75, 0.1);
    box-shadow: 0 8px 32px 0 rgba(26, 71, 101, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    height: 2em;
    color: #f2f2f2;
    font-family: 'Chivo Mono', monospace;
    transition: 0.7s;
    cursor: pointer;
}
#nav>div:hover{
    background-color: #04BFBF;
}


#div_titulo {
    margin: 0 15%;
    margin-top: 7%;
    position: relative;
    padding: 5% 7%;
    z-index: 1;

/*glassmorfismo*/
    background: rgba(4, 191, 191, 0.05);
    box-shadow: 0 8px 32px 0 rgba(26, 71, 101, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
}

#bordertop {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    border-top: 5px solid #93e5e5;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        inset 0 0 1.3rem #04BFBF;
}

#borderright {
    position: absolute;
    top: 0;
    left: 100%;
    height: 60%;
    border-right: 5px solid #93e5e5;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        inset 0 0 1.3rem #04BFBF;
}

#borderbottom {
    position: absolute;
    top: 100%;
    left: 0;
    width: 30%;
    border-bottom: 5px solid #93e5e5;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        inset 0 0 1.3rem #04BFBF;
}

#borderleft {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    border-left: 5px solid #93e5e5;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        inset 0 0 1.3rem #04BFBF;
}



.titulo {
    color: #f2f2f2;
    font-weight: bolder;
    font-family: 'Chivo Mono', monospace;
    font-size: 70px;

}

#nombre {
    color: #fff;
    text-shadow:
        /* 0 0 7px #93e7e7,
        0 0 10px #93e5e5,
        0 0 21px #74e7e7,
        0 0 42px #04BFBF; */
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        0 0 1.3rem #04BFBF;
}
#izquierda{
    position: fixed;
    top: 0;
    left: 1%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-content: space-around; */
    /* align-items: center; */
    justify-content: center;
    gap: 15%;
}
.a_iconos{
    height: fit-content;
}
svg{
    fill: #93e5e5;
    box-shadow: inset 0 0 .2rem #04BFBF,
        0 0 .2rem #04BFBF,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        inset 0 0 1.3rem #04BFBF;
    transition: 0.3s;
}
svg:hover{
    fill: #cef1f1;
    box-shadow: inset 0 0 .2rem #52ebeb,
        0 0 .2rem #52ebeb,
        0 0 2rem #52ebeb,
        0 0 0.8rem #52ebeb,
        0 0 2.8rem #52ebeb,
        inset 0 0 1.3rem #52ebeb;
}
#github_icono{
    border-radius: 50%;
}
#linkedin_icono{
    border-radius: 10%;
}



.proyectos {
    min-height: 70vh;
    margin: 15% 15%;
}
.cards_div{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}
.card{
    width: 30%;
    background: rgba(4, 191, 191, 0.05);
    box-shadow: 0 8px 32px 0 rgba(26, 71, 101, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    height: 70%;
}
.card_imagen{
    padding: 5%;
}
.card_imagen>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.card_titulo{
    padding: 0 5%;
    color: #f2f2f2;
    font-weight: bolder;
    font-family: 'Chivo Mono', monospace;
    font-size: 30px;
}
.card_descripcion{
    padding: 0 5%;
    color: #f2f2f280;
    font-family: 'Chivo Mono', monospace;
    font-size: 15px;
    margin-bottom: 5%;
}

.borde_top_card{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    border-top: 5px solid #93e5e5;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        inset 0 0 1.3rem #04BFBF;

}
.borde_bottom_card{
    /* display: none; */
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    border-bottom: 5px solid #93e5e5;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #04BFBF,
        0 0 0.8rem #04BFBF,
        0 0 2.8rem #04BFBF,
        inset 0 0 1.3rem #04BFBF;

}








@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #div_titulo {
        margin: 0 10%;
        margin-top: 15%;

    }
    
    .titulo {
        /* font-size: 30px; */
    }
    #titulo1{
        font-size: 2.7em;
    }
    #titulo2{
        font-size: 2.1em;
    }
    #nombre{
        font-size: 1.05em;
    }
    #titulo3{
        font-size: 2.2em;
    }
    
       
}